.auth__card {
  margin: 20px 0;
}
.auth__logo {
  color: #fff;
  background: #1e293b;
}
.auth__label {
  margin-bottom: 8px;
}
button {
  cursor: pointer;
}
.auth__changePassword {
  margin: 20px 0;
}
.auth__card-header {
  background: #1e293b;
  color: #fff;
}
